<h1>Bienvenido al sistema de registro de pacientes</h1>

<div>
	<p>Para ingresar una mujer haga click en el siguiente enlace</p>
	<%= link_to "Agregar paciente", new_woman_path %>
</div>

<div>
	<p>Para ingresar un niño haga click en el siguiente enlace</p>
	<%= link_to "Agregar paciente", new_child_path %>
</div>
